.content{
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic";
    width: 100%;
    position: relative;
}
.input{
    font-family: "Century Gothic";
    padding: 5px 15px;
    border-radius: 1em;
}
.error{
    font-size: 14px;
    color: red;
}
.label{
    position: absolute;
    top:-14px;
    left: 12px;
    padding: 0 1px;
    background: white;
    width: auto;
}