.content{
    padding: 5px 20px;
    border-radius: 1rem;
}
.s{
    width: 100%;
}
.white{
    border: 1px solid black;
    background: white;
    color: black;
}
.white:hover{
    background: gray;
    color: white;
}
.dark{
    background: black;
    color:white;
}
.dark:hover{
    border: 1px solid black;
    background: gray;
    color: white;
}
.success{
    background: forestgreen;
    padding: 0 15px;
    border-radius: 10px;
    color: white;
}
.success:hover{
    background: darkgreen;
    color: white;
}
.cancel{
    color: white;
    padding: 0 15px;
    border-radius: 10px;
    background: red;
}
.cancel:hover{
    background: darkred;
    color: white;
}