.content{
    margin-bottom: 16px;
}
.isOpen{
    border-bottom: 1px solid gray;
}
.text{
    border-right: 1px solid gray;
    font-family: "Century Gothic";
    font-size: 18px;
    cursor: pointer;
}
.subContent{
    max-width: 49%;
}
.error{
    color: red;
}